.wrapper {
    width: var(--default-layout-width);
    display: flex;
    flex-direction: column;
}

.slider-container {
    display: flex;
    justify-content: space-between;
}

.product {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

.heading {
    margin: 16px 0;
}
