.wrapper {
    display: flex;
    flex-direction: column;
}

.slider-container {
    display: flex;
    justify-content: space-between;
}

.products {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.heading {
    margin: 16px 0;
}
