.wrapper {
    width: 226px;
    height: 350px;
    position: relative;
}

.card__img {
    width: 225px;
    height: 225px;
    object-fit: contain;
    border: 1px solid #e9ecef;
    border-radius: 12px;
}

.card__link-title {
    font-size: 1.6rem;
    font-weight: 600;
    &:hover {
        color: var(--primary-color);
    }
}
.card-price {
    display: flex;
}
.price-wrapper {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.original-price {
    text-decoration: line-through;
    color: #868e96;
}
.sale-price {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.6rem;
}

.percent-discount {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
}
.stock {
    display: flex;
    align-items: center;
    padding-top: 4px;
    color: #099268;
}
.stock__title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 8px;
    line-height: 1.6rem;
}

.stock__title--out-of-stock {
    color: red;
}
